/* responsive part */
:root {
  --main-radius: 5px;
  --main-padding: 5px;
}

body {
  font-family: "Inter", sans-serif;
  background: #2F2F2F;
}

.container {
  display: grid;
  height: 98vh;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  grid-template-rows: 0.2fr 1.8fr 1.3fr 0.25fr;
  grid-template-areas:
    "nav nav nav sidebar"
    "main main main sidebar"
    "content content content sidebar"
    "footer footer footer sidebar";
  grid-gap: 0.2rem;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
  color: #004d40;
}

nav {
  grid-area: nav;
  height: 13vh;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

main {
  flex: content;
  padding: 10px;
  margin-left: 10px;
  text-align: justify;
  grid-area: main;
  border-radius: var(--main-radius);
}

#sidebar {
  background: #18ffff;
  grid-area: sidebar;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content {
  grid-area: content;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  margin-top: 15px;
}

footer {
  grid-area: footer;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

a {
  text-align: center;
  display: block;
  font-family: inherit;
  text-decoration: none;
  font-weight: bold;
  margin: 1rem;
}

#buttonarea {
  grid-area: buttonarea;
  padding-top: var(--main-padding);
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 0.3fr 1.2fr 2.2fr 1fr;
    grid-template-areas:
      "nav"      
      "main"
      "buttonarea"
      "content"
      "footer"
      "sidebar";
  }
  .row {
    flex-direction: column;
  }
  #buttonarea {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .appStore {
    padding-top: 10px;
    margin-right: 30px;
  }
  .playStore {
    padding-top: 10px;
    margin-right: 18px;
  }
}

/* other styles */

.logo {
  height: 7vh;
  margin: 1rem;
}

b {
  font-size: 9vh;
  text-transform: capitalize;
}

br {
  line-height: 15px;
}

.create {
  color: #FBBF24;
}

.share {
  color: #9AD7F3;
}

.edit {
  color: #6BDFDA;
}

.button {
  display: inline-block;
  border-radius: 40px;
  background-color: #fff;
  border: none;
  color: #232323;
  text-align: center;
  font-size: 22px;
  width: 160px;
  height: 65px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 12px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

p {
  color: #2F2F2F;
  font-size: 14px;
  font-weight: 200;
  text-transform: capitalize;
  margin-left: 5px;
}

.row {
  margin: 0px 20px;
  display: flex;
  justify-content: space-between;
}

.description-col {
  flex-basis: 30%;
  background: #fff;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.3s;
}

.description-col:hover{
  box-shadow: 0 0 20px 0px rgba(255, 255, 255, 0.4);
}

.dscIcon {
  height: 2vh;
  margin-left: 5px;
  margin-top: 5px;
}

h3 {
  color: #2F2F2F;
  margin-left: 5px;
}

.socialHolder {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
}

.copyright {
  margin-left: 40px;
  height: 13px;
  width: 122px;
  margin-top: 22px;
}

.socialIcon {
  height: 24px;
  width: 24px;
}

.appStore {
  width: 165px;
  height: 55px;
  margin-left: 25px;
}

.playStore {
  width: 187px;
  height: 55px;
  margin-left: 10px;
}